
body{
	background-image: url(images/Splatoon_2_Splatocalypse.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	font-family: "Palatino";
}

p{
	font-size: 50px;
	color: white;
	text-align: center;
}

.joinButton{
	display: flex;
	justify-content: center;
	margin-top: 700px;
	margin-bottom: 10px
}

.btn-danger{
	font-size: 2rem;
	text-align: center;
	padding: 0rem 2rem;
	border-radius: 0px;
	background-color: orangered;
	border: none;
	margin-top: 72px
}

.btn-danger:hover{
	border-radius: 100px;
	background-color: darkorange ;
	position: relative;
	/*top: -10px;*/

	transition: 1.2s;
}